@model DoanRapphim.Areas.Admin.Models.RapChieuPhimModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Rạp Chiếu Phim</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên rạp chiếu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenRapChieu)
        </dd>
        <dt class="col-sm-2">
            Tổng số phòng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TongSoPhong)
        </dd>
        <dt class="col-sm-2">
           Thành phố
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThanhPho)
        </dd>
        <dt class="col-sm-2">
            Quận huyện
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuanHuyen)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
